<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <!-- 
       1.for auto wiring we havw autowire property in the bean file.
       2.bean file we can use autowire will have t values byName,byType
       3.when we use byName it will checks the reference variable in the dependent class if that variable not avilable the execution issue
       4.bean class have unique ids for the every bean
       5.when we use autowire parent class as 2 beans based on custom requiremnt it will gives you runtime error 
       when we run the our dependent class of it so we for resolve that error while using autowire as byType ,then we have anyone make as 
       autowire-candidate="false"
    -->
    
    <!--<bean id="car" class="com.Nichebit.Car" autowire="byName"/> 
    <bean id="dengine" class="com.Nichebit.Diselengine" />-->
    
    <bean id="car" class="com.Nichebit.Car" autowire="byType"/>
     <bean id="dengine" class="com.Nichebit.Diselengine" />
     <bean id="dengine1" class="com.Nichebit.Diselengine" autowire-candidate="false"/>
    
    
    
</beans>